body {
    margin: 0;
    min-height: 100vh;
    color: #b9c5b9d4;

    background: linear-gradient(-45deg,
            #020603,
            #07140b,
            #031b10,
            #000000);

    background-size: 400% 400%;
    animation: gradientMove 14s ease infinite;

    font-family: Arial, sans-serif;
}

.ticker {
    display: none;
}

/* fog overlay */
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at top, rgba(0, 255, 140, 0.10), transparent 60%),
        radial-gradient(circle at bottom, rgba(0, 0, 0, 0.7), transparent 70%);

    pointer-events: none;
}

/* LAYOUT (MOBILE FIRST) */
.app {
    min-height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    padding: 10px;
    padding-top: 30px;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 420px;
}

.welcome-screen h1 {
    color: #00ff9de3;
    margin-bottom: 20px;
}

.welcome-screen p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.welcome-screen button {
    padding: 14px 32px;
    border: none;
    border-radius: 12px;

    background: rgba(0, 255, 140, .15);
    border: 1px solid rgba(0, 255, 140, .4);

    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.welcome-screen button:hover {
    background: rgba(0, 255, 140, 0.08);
    transform: translateY(-2px);
}

.secondary-button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 255, 140, 0.3);
    background: transparent;
    color: #bfffe0;
    cursor: pointer;
    transition: 0.2s ease;
}

.secondary-button:hover {
    background: rgba(0, 255, 140, 0.08);
    transform: translateY(-2px);
}

/* CARD BASE */
.quiz-card,
.result-screen {
    width: 100%;
    max-width: 700px;

    padding: 24px 18px;
    border-radius: 16px;

    background: rgba(5, 10, 8, 0.7);
    border: 1px solid rgba(0, 255, 140, 0.25);

    box-shadow:
        0 0 40px rgba(0, 255, 140, 0.12),
        0 20px 60px rgba(0, 0, 0, 0.7);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    position: relative;
    overflow: hidden;
}

/* glow */
.quiz-card::before,
.result-screen::before {
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(circle at top left,
            rgba(0, 255, 140, 0.08),
            transparent 60%);

    pointer-events: none;
}

/* TEXT */
.question-count {
    color: #00ff9d;
    margin-bottom: 10px;
}

.question {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 20px;

    text-shadow:
        0 0 10px rgba(8, 11, 10, 0.2),
        0 0 25px rgba(0, 0, 0, 0.7);
}

/* ANSWERS */
.answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.answer-button {
    background: transparent;
    border: 1px solid rgba(0, 255, 140, 0.5);
    color: #eaffeace;

    padding: 14px;
    border-radius: 12px;

    font-size: 0.95rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.answer-button:active {
    transform: scale(0.98);
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
}

/* RESULT SCREEN */
.result-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* INPUT */
.result-screen input {
    width: 100%;
    max-width: 300px;

    padding: 16px;
    margin-top: 16px;

    border-radius: 12px;
    border: 1px solid rgba(0, 255, 140, 0.3);

    background: rgba(0, 0, 0, 0.35);
    color: #eaffea;

    font-size: 1rem;
    text-align: center;

    backdrop-filter: blur(10px);
}

/* BUTTON */
.result-screen button {
    width: 100%;
    max-width: 250px;

    padding: 14px;
    margin-top: 12px;

    border-radius: 12px;
    border: 1px solid rgba(0, 255, 140, 0.4);

    background: rgba(0, 255, 140, 0.12);
    color: #eaffea;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s ease;

    backdrop-filter: blur(10px);
}

/* SCORE */
.score {
    margin-top: 20px;
    color: #b7ffcdc2;
    font-weight: bold;
}

/* LEADERBOARD */
.leaderboard {
    width: 100%;
    max-width: 350px;
    margin: 30px auto 0;

    display: flex;
    flex-direction: column;
}

.leaderboard h2 {
    color: #00ff9d;
    text-align: center;
}

.leaderboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 255, 140, 0.06);
    border: 1px solid rgba(0, 255, 140, 0.2);

    border-radius: 12px;
    padding: 12px 14px;
    margin-bottom: 10px;

    backdrop-filter: blur(10px);
}

/* STATES */
.answer-button.correct {
    background: #24f37a7e !important;
    color: white !important;
}

.answer-button.wrong {
    background: #f24633b8 !important;
    border-color: #f24633b8 !important;
    color: white !important;
}

/* PROGRESS */
.progress-container {
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #43bd5d, #00cec9);
    transition: width 0.3s ease;
}

.quiz-card {
    transform: translateX(0);
    opacity: 1;
}

/* ANIMATIONS */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes tickerFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
    }
}

/* DESKTOP */

@media (min-width: 768px) {

    .app {
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 10px;
    }

    /* TICKER */
    .ticker {
        display: block;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(0, 255, 140, 0.15);

        opacity: 1;
        animation: tickerFadeOut 12s ease forwards;
    }

    .ticker-track {
        display: flex;
        gap: 60px;
        width: max-content;
        white-space: nowrap;
        padding: 8px 0;

        animation: scrollText 20s linear infinite;
        will-change: transform;
    }

    .ticker-track span {
        color: #00ff9dd7;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .quiz-card,
    .result-screen {
        padding: 40px 30px;
        border-radius: 20px;
    }

    .question {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .answer-button {
        padding: 16px;
        font-size: 1.1rem;
    }

    .answers {
        gap: 16px;
    }

    /* hover only desktop */
    @media (hover: hover) and (pointer: fine) {
        .result-screen button:hover {
            background: rgba(0, 255, 140, 0.25);
            transform: translateY(-2px);
        }

        .answer-button:hover {
            background: rgba(0, 255, 140, 0.12);
            transform: translateY(-2px);
        }
    }

    .quiz-card {
        transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
            opacity 0.6s ease;
        will-change: transform, opacity;
    }

    /* in state */
    .slide-in {
        transform: translateX(0);
        opacity: 1;
    }

    /* out state */
    .slide-out {
        transform: translateX(-120%);
        opacity: 0;
    }
}